.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 195px;
    height: 65px;
    border-radius: 10px;
    background-color: #bbad9f;
    color: #f9f6f2;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}